<!-- Logo section -->
<tr>
  <td class="bg-dark" style="
  padding-top: 10px;
  padding-bottom: 10px;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" role="presentation">
      <tr>
        <td class="" style="
            text-align: center;">
          <a href="#" title="Ссылка на " target="_blank" rel="noopener" style="font-size: 0 !important;">
            <img src="https://i.ibb.co/zbr2XNG/Logo.png" border="0" width="173"
              alt="Логотип Концертный зал им Глинки" />
          </a>
        </td>
      </tr>
    </table>
  </td>
</tr>
<!-- End Logo section -->
